.reduxOldRoot {
    width: 350px;
    background: rgb(158, 158, 158);
}

.usersList {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box1 {
    background: rgb(203, 241, 203);
    padding: 16px;
    margin-bottom: 16px;
}

.box2 {
    background: rgb(203, 241, 203);
    padding: 16px;
    margin-bottom: 16px;
}

.box3 {
    background: rgb(203, 241, 203);
    padding: 16px;
    margin-bottom: 16px;
}

.box3item {
    display: flex;
}

.box1_title,
.box2_title,
.box3_title {
    font-weight: 700;
    margin-right: 20px;
}
